*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins",sans-serif;
    background-image:linear-gradient(
        to right,
        /* #52006A,#ffecd2 51%,
        #fcb69f 100% */
        /* #fdfcfb 20% ,
        #E8E1DB 51%,
        #e2d1c3 100% */
/*         
#ee9ca7 50%,
 #ffdde1 100% */
 
 
#eacda3 50%,
 #d6ae7b 100%
        /* #dd24777a 51%,
        #ff512f 100% */
     );
    
}
.card-img-top{
    height: 250px;
    width: 335px;
}
.card{
    margin-bottom: 40px;
}
@media (max-width: 768px){
    .card-img-top{
        height: 250px;
        width: 335px;
    }
    
}
@media (min-width: 1020px){
    .card-img-top{
        height: 250px;
        width: 355px;
    }
    
}

